$color-shadow: #161616;
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-direction: row;
  background: rgb(255, 254, 254);
  height: 60px;
  box-shadow: 1px 2px 3px 2px $color-shadow!important;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-logo {
  font-size: 1.3rem;
  font-weight: 500;
}
.nav-item a {
  padding: 1rem;
  font-size: 1.1rem;
  color: #373f41;
  &:hover {
    color: #000!important;
  }
}
.nav-menu li:hover {
  transform: scale(1.2);
  text-shadow: none;
  text-decoration: none;
}
.btn-logout {
  outline: none;
  border: 0;
  background-color: #2cce95;
  padding: 0.4rem .7rem;
  margin-bottom: 0.8rem;
  border-radius: 6px;
  color: #fff!important;
  font-weight: 500;
}
.btn-logout:hover{
  opacity: 0.7;
}